<div class="cotainer">
    <div class="row">
        <div class="col">
            <h1>Upload image</h1>
            <hr>

            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="images" id="images" multiple>
                        <label class="custom-file-label" for="images"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload image</button>
            </form>
        </div>

    </div>
</div>